{% extends "base.html" %}
{% load static %}

{% block title %}My portfolio {% endblock %}
{% block header %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<body class="index-page">
  <main class="main">
    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">
      <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h2>Jamil Mwangi</h2>
        <p>I'm <span class="typed" data-typed-items="a Freelancer, a Software Engineer, a UI/UX Designer"></span><span class="typed-cursor typed-cursor--blink"></span></p>
        <div class="social-links">
          <a href="#"><i class="bi bi-twitter-x"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
      <img src="../../static/assets/img/IMG-20231015-WA0015_3-removebg-preview.png" alt="" data-aos="fade-in" class="img-fluid float-right" style="max-width: 200px;">
    </section>

    <!-- /Hero Section -->

  </main>

  <footer id="footer" class="footer dark-background">
    <div class="container">
      <h3 class="sitename">Personal</h3>
      <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
      <div class="social-links d-flex justify-content-center">
        <a href=""><i class="bi bi-twitter-x"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-skype"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="container">
        <div class="copyright">
          <span>Copyright</span> <strong class="px-1 sitename">Personal</strong> <span>All Rights Reserved</span>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

{% endblock %}